@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline:1px solid red;
}


html {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    color: #fff;
}

body {
    min-height: 100vh;
    background-color: dodgerblue;
}
ul {
    list-style: none;
}

.App {
  display: flex;
  flex-direction: column;
  
  align-items: center;
  min-height: 100vh; 
 width: 100%;

}

section {
    width: 100%;
    max-width: 420px;
    /* min-height: 400px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    background-color: rgba(0,0,0,0.4);
}

