.user-avatar,
.request-actions{
    display: flex;
    align-items: center;
    gap: 1rem
}
.request-actions{
    justify-content: center;
}
.request-actions button{
    margin-top: 0;
}
.user-item{
     display: flex;
    align-items: center;
    padding: .5rem;
   
}
.request-item{
    padding: .5rem;
}
.request-item a{
    text-decoration: none;
}
.user-item:not(:last-child),
.request-item:not(:last-child){
     border-bottom: 1px solid gray;
}
.user-link{
    flex: 1;
}
.users-list,
.requests-list{
    padding: .5rem;
}
.pending-actions-group{
    display: contents;
}
.follow-action-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .25rem;
}
.follow-action-container button{
    font-size: 1rem;
}
/* .user-card-actions{
    margin-inline-start: auto;
} */

