/* [class*="box"] {
    outline:1px solid green;
    display: flex;
} */
 .like-btn{
  color: var(--main-color);
 }
.like-btn:hover {
  transform: scale(1.1);
  transition: transform 0.1s ease-in-out;
}
.post-item{
  border: 1px solid rgb(255 255 255 / 26%);
  border-radius: 3px;
}
.comment-header{
  display: contents;
}
.post-item,
.comment-item{
  position: relative;
  margin-block:.5rem;
  padding:.5rem;
  border-bottom: 2px solid #ffffff1c
  
}
.comment-item:last-child{
  border-bottom: none;
}
.post-item a{
  text-decoration: none;
}
.post-actions-box,
.comment-action-box{
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  display: flex ;
  align-items: center;
  justify-content: center;
 
}
.post-actions-box > * ,
.comment-actions-box > * {
 display: block;
 margin: 0 .5rem;
 padding :.25rem;
 border-radius: 3px;
 height: 2rem;
}
.comment-date{
  font-size: .5rem;
}
.post-author-info a{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin-bottom: .5rem;
}
.post-date{
  font-size: .75rem;
}
.posts-container{
  padding:.75rem;
  margin-bottom: 1rem;
}

.post-detail,
.post-item{
  padding:2rem 1rem;
 
}
.post-item header,
.comment-header,
.post-detail header{
  display: flex;
    justify-content: space-between;
    align-items: center;
}
.post-content-area{
  padding-block: .5rem;
}
.comments-section{
  padding-inline: 1rem;
  margin-block: 1rem;
}
.user-data{
      display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}